<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!--Loading static elements for style sheet, images, and entry form.-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Entry Page</title>
</head>
<body>
    <header>
        <h1 div id="titleHeader"> Swiftball Fantasy League!</h1> <!--Title at top of page-->
        <hr width = 100% size=5 color="black" noshade style="margin-top: auto; margin-bottom:0px;"/>
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000';">Home</div></button> <!--Linking to home page-->
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/stats/';">Previous Statistics</div></button><!--Linking to stats page-->
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/tracker/';">Track The Current Show</div></button><!--Linking to tracker page-->
    </header>
     <div id="subtitle">
        <p> <h1>Enter Fantasy Swiftball Here!!!</h1></p>
     </div>
    <div id="Entry"> <form action="" method="POST"><!--Adding the form to the page-->
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
    </form> </div>
    
<p style="font-size: 30px;">
</p>

</body>
</html>