<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Statistics</title>
</head>
<body>
    <header>
        <h1 div id="titleHeader"> Swiftball Fantasy League!</h1>
        <hr width = 100% size=5 color="black" noshade style="margin-top: auto; margin-bottom:0px;"/>
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000';">Home</div></button>
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/enter/';" >Enter</div></button>
        <button type="button" div id="linkButtons" onclick="window.location.href='http://127.0.0.1:8000/tracker/';">Track The Current Show</div></button>
    </header>
     <div id="subtitle">
        <p> <h1>Check Out These Statistics From Past Shows!!</h1></p>
     </div>
     <p><div id="LoverSuit"> <img src="{% static '\LoverSuit.png' %}"alt="Graph of the Bodysuits worn" ><figcaption>Pink and Blue Bodysuit</figcaption></div> <!--Loading in images of statistics-->
        <div id="TheMan"> <img src="{% static '\TheBlazer.png' %}"alt="Graph of the Jackets worn for The Man" ><figcaption>Silver "The Man" Jacket</figcaption></div>
        <div id="RedTv"> <img src="{% static '\RedTv.png' %}"alt="Graph of the Red (TV) songs played" ><figcaption>Red (TV) songs played</figcaption></div></p>
       <p> <div id="Year"> <img src="{% static '\1989.png' %}"alt="Graph of the 1989 songs played" ><figcaption>1989 songs played</figcaption></div>
        <div id="Midnights"> <img src="{% static '\Midnights.png' %}"alt="Graph of the Midnights songs played" ><figcaption>Midnights songs played</figcaption></div>
        <div id="Track1"> <img src="{% static '\Track1s.png' %}"alt="Graph of the songs played that were track one on their album" ><figcaption>Graph of the songs played that were track one on their album</figcaption></div></p>
    
 
<p style="font-size: 30px;">
</p>

</body>
</html>